<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336729405422-fiba48o6u4af7dbckfliu9fu5ehm31ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336729405422-fiba48o6u4af7dbckfliu9fu5ehm31ie</string>
	<key>API_KEY</key>
	<string>AIzaSyD6fSbuoTA5m-Ci25V3hNaZvau2ZB9wwqY</string>
	<key>GCM_SENDER_ID</key>
	<string>336729405422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swirx.skillsell.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>skillsell</string>
	<key>STORAGE_BUCKET</key>
	<string>skillsell.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336729405422:ios:42424eb16a08c5fe97c0ff</string>
</dict>
</plist>